@model Fr.Binard.Net.Web.Core.ViewModels.NotFoundViewModel
           
<div>
    <h1>Erreur 404</h1>
    <p>Page non trouvée</p>
    <div>
        <strong>Url :</strong> @Model.RequestedUrl<br />
        <strong>Url appelante :</strong> @Model.ReferrerUrl
    </div>
</div>
